.side-nav {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

header {
    background-color: #080b12;
    display: flex;
    justify-content: right;
    flex-direction: row;
}

main {
    background-color: #141922;
    color: white;
    width: 85%;
    
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.hr-nav {
    flex-direction: row;
}

.hr-nav > ul > li {
    color: #4f5258;
}

footer {
    background-color: #282828;
    color: white;
}

.section-left > img {
    width: 50px;
}

.card > img {
    width: 150px;
}

#artist-round > img {
    border-radius: 75px;
}

