.side-nav {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}


body {
    display: flex;
    font-family: Montserrat;
}

.logo {
    width: 100px;
}

ul {
    list-style-type: none;
    font-family: Montserrat;
        font-weight: bold;
}



header {
    background-color: #080b12;
    display: flex;
    justify-content: right;
    flex-direction: row;
    font-family: Montserrat;
    height: 50px;
}


header > button {
background-color: #080b12;
color: white;
border-radius: 25px;
font-family: Montserrat;
margin: 10px;
}

button:hover {
transform: scale(1.5)
}

main {
    background-color: #141922;
    color: white;
    width: 85%;
    justify-content: center;
        
}

.main-top {
    display: flex;
    
}

.display-cards {
    display: flex;
    flex-wrap: wrap;
}

.display-mix {
    display: flex;
    flex-wrap: wrap;
}

.display-popular {
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: black;
}


.hr-nav {
    justify-content: center;

}

.hr-nav > ul > li {
    color: #4f5258;
    display: inline;
}

footer {
    background-color: #282828;
    color: white;
    font-family: Montserrat;
   
}

.section-left > img {
    width: 50px;
}



.card {
    margin: auto;
    flex-grow: 1;
}

.card > img {
    width: 150px;
    margin: 25px;
}



#artist-round > img {
    border-radius: 75px;
    margin: 25px;
}

